@model HttpWebServerMvcF.Domain.Party
@{
    ViewBag.Title = $"Вечеринка {Model.Title}";
}

<body>
    <p>Приглашаем всех на @Model.Title, которое состоиться @Model.Date.Date.ToShortDateString() в @Model.Location в @Model.Date.TimeOfDay!</p>

    <form action="/party/vote/?id=@Model.Id" method="POST">
        Имя:<br> <input type="text" name="name"><br><br>
        Иду:<br> <input type="checkbox" name="attend"><br><br>
        Коментарий:<br> <input type="text" name="reason"><br><br>
        <input type="submit" value="Голосовать">
    </form>
    <br>
    <br>
    <a href="/party/participants/?partyId=@Model.Id">Список гостей.</a>
    <br>
    <br>
    <a href="/Home/Parties">К списку вечеринок.</a>
    <br>
    <br>
</body>