@model List<HttpWebServerMvcF.Domain.Participant>
@{
    ViewBag.Title = "Список участников";
}


<p3>Список участников:</p3>

<ol>
    @foreach (var item in @Model)
    {

    }
</ol>
@*<ol>
        {{participants}}
    </ol>*@
<a href="/party/index">Вернуться.</a>


