@model HttpWebServerMvcF.Models.PartyParticipantViewModel
@{
    ViewBag.Title = "Список участников:";
}


<p3>Список участников:</p3>

<ol>
    @foreach (var item in @Model.Participants)
    {
        <li>@item.Name</li>
    }
</ol>

<a href="/Party/Index/?partyId=@Model.Party.Id">Вернуться.</a>


