@model List<HttpWebServerMvcF.Domain.Party>
@{
    ViewBag.Title = "Список вечеринок";
}


<h1>Список вечеринок:</h1>
<br>
<br>
<ol> 
    <li><a href="/Party/Index/Хеллуин"> Хеллуин </a></li>
</ol>

<a href="/Home/Index">  Вернуться.</a>


