@model HttpWebServerMvcF.BL.IPartiesService
@{
    ViewBag.Title = "Список вечеринок";
}


<h1>Список вечеринок:</h1>
<br>
<br>
<ol>
    @foreach (var item in @Model.List())
    {
        <li><a href="/Party/Index/?partyId=@item.Id"> @item.Title - состоится @item.Date </a></li>
    }
</ol>
<br>
<br>
<a href="/Home/Index"> Вернуться.</a>


